__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
media/
*.pyc
*.pyo
venv/
env/
.venv/
/.idea/
.pytest_cache/
*.egg-info/
dist/
build/

# Diretórios de projeto obsoletos
Projeto_Telefonia_Corrigido/
Projeto_Telefonia/
.env/